lily/lily/flosc/flosc.dtd

<!ELEMENT OSCPACKET (MESSAGE+)>
<!ATTLIST OSCPACKET
            ADDRESS CDATA #REQUIRED
            PORT CDATA #REQUIRED
            TIME CDATA #REQUIRED
>

<!ELEMENT MESSAGE (ARRAY | ARGUMENT)* >
<!ATTLIST MESSAGE
            NAME CDATA #IMPLIED
>

<!ELEMENT ARRAY (ARRAY | ARGUMENT)*>
<!ELEMENT ARGUMENT EMPTY>
<!ATTLIST ARGUMENT
            TYPE (i|f|h|d|s|T|F|N|I) "i"
            VALUE CDATA #IMPLIED
>